# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
dist/
build/

# Virtual environments
.venv/

# uv
uv.lock

# mypy
.mypy_cache/

# ruff
.ruff_cache/

# pytest
.pytest_cache/
results.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
